@use "../responsive/breakpoint" as *;
@use "../base/variables" as *;

@mixin responsive-font-size($size, $base-font-size, $i) {
  .#{$size}_-fsz#{$i} {
    font-size: $base-font-size * ($i * 0.5);  
  }
}

@mixin responsive-font-weight($size, $i) {
  .#{$size}_-fw#{$i} {
    font-size: $base-font-size * ($i * 0.5);  
  }
}

/* font size */
@for $i from 1 through 10 {
  .fsz#{$i} {
    font-size: $base-font-size * ($i * 0.5);  
  }
  @include xxs {
    @include responsive-font-size("xxs", $base-font-size, $i)
  }
  @include xs {
    @include responsive-font-size("xs", $base-font-size, $i)
  }
  @include s {
    @include responsive-font-size("s", $base-font-size, $i)
  }
  @include l {
    @include responsive-font-size("l", $base-font-size, $i)
  }
  @include xl {
    @include responsive-font-size("xl", $base-font-size, $i)
  }
  @include xxl {
    @include responsive-font-size("xxl", $base-font-size, $i)
  }
}

/* font weight */
@for $i from 3 through 9 {
  .fw#{$i} {
    font-weight: $i * 100;  
  }
  @include xxs {
    @include responsive-font-weight("xxs", $i);
  }

  @include xs {
    @include responsive-font-weight("xs", $i);
  }

  @include s {
    @include responsive-font-weight("s", $i);
  }

  @include m {
    @include responsive-font-weight("m", $i);
  }

  @include l {
    @include responsive-font-weight("l", $i);
  }

  @include xl {
    @include responsive-font-weight("xl", $i);
  }

  @include xxl {
    @include responsive-font-weight("xxl", $i);
  }
}

