@use "./Chat.scss" as *;

@import "~@reiend/quirk";

.channel-info-container {
  @extend .bg--green-L10;
  @extend .br2;
  @extend .p2;
  height: 10vh;

  @include xxs {
    width: 100%;
  }

  @include m {
    width: 47.5vw;
  }
}

.channel-info-container-expanded {
  background-color: #3bcf93;
  position: absolute;
  height: 40vh;
  bottom: -11vh;
}

/* channel info */
.channel-info {
  @extend .px2;
  @extend %scroll-bar;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  flex: none;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    @extend .bg--green-L3;
  }
  &::-webkit-scrollbar-thumb:hover {
    @extend .bg--green-L5;
  }
}

.channel-info-expanded {
  height: 20%;
  &::-webkit-scrollbar-thumb {
    @extend .bg--green-L10;
  }
  &::-webkit-scrollbar-thumb:hover {
    @extend .bg--green-L8;
  }
}

.channel-type {
  @extend .txt--black;
  @extend .fw4;
  width: 100%;
  text-align: center;
  scroll-snap-align: center;
  letter-spacing: 0.2rem;
  flex: none;
  cursor: pointer;
  &::first-letter {
    text-transform: uppercase;
  }
  &:hover {
    color: #666;
  }
}

.channel-name-container {
  @extend .mt2;
  @extend %scroll-bar;
  @extend %scroll-bar;
  height: 70%;
  overflow-y: auto;
  flex: none;
  width: 100%;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  width: 100%;

  &::-webkit-scrollbar-thumb {
    @extend .bg--green-L10;
  }
  &::-webkit-scrollbar-thumb:hover {
    @extend .bg--green-L8;
  }
}

.channel-name {
  width: 100%;
  @extend .my1;
  a {
    @extend .txt--black;
    @extend .fw3;
    list-style: none;
    font-size: 1.4rem;
    width: 100%;
    display: block;
  }
  &:hover {
    @extend .bg--green-L10;
  }
}

%channel-expanded-buttons {
  position: absolute;
  left: 90%;
  cursor: pointer;
}
.add-channel {
  @extend %channel-expanded-buttons;
  @extend .txt--white;
  @extend .fsz4;
  bottom: 0%;
}

.close-channel-expand {
  @extend %channel-expanded-buttons;
  @extend .fsz2;
  @extend .txt--white;
  top: 5%;
}

