@use "./Chat.scss" as *;

/* chat container */
.chat-room-container {
  @extend %scroll-bar;
  @extend .my2;
  @extend .pb1;
  height: 76vh;
  border: none;
  max-height: 700px;
  display: flex;
  gap: 4rem;
  overflow-x: auto;
  flex: none;
  width: 100%;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


%chat-room-size {
  height: 100%;
  flex: none;
  scroll-snap-align: center;
  width: 100%;
  max-width: 450px;
}

%w-100 {
  width: 100%;
}

.chat-room {
  @extend %chat-room-size;
  @extend .pb1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center;
  h2 {
    @extend .bg--green-L3;
    @extend %w-100;
    @extend .p1;
    @extend .br2;
    @extend .fw3;
    @extend .txt--black;
    text-align: center;
    align-self: center; 

  }
  .chat-box {
    @extend .bg--green-L10;
    @extend %w-100;
    @extend .p1;
    @extend .br2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }
}

.chat-room-filler {
  @include xxs {
    display: none;
  }

  @include l {
    display: flex;
  }
  @extend %chat-room-size;
  background: none;
}
.messages-container {
  border: 1px solid black;
  ul {
    width: 100%;
  }

  @include xxs {
    height: 75%;
  }
  @include xs {
    height: 85%;
  }
}

/* end of chat container */

