@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "~@reiend/quirk";


%scroll-bar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    @extend .bg--green-L3;
    @extend .br2;
  }
  &::-webkit-scrollbar-thumb:hover {
    @extend .bg--green-L5;
  }
}

/* navigation */
.chat {
  width: 100%;
  font-family: "Roboto", sans-serif;
  position: relative;
  max-height: 1200px;

  @include xxs {
    padding: 0;

  }
  @include m {
    padding: 0 2rem;
  }
}

.account {
  @include xxs {
    width: 100%;
    padding: 2rem 0;
    background-color: #89e0c0;
    margin-left: auto;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 5px;
  }
  @include m {
    /* @extend .px2; */
    /* @extend .bg--green-L10; */
    /* @extend .br2; */
    padding: 2rem 0;
    background-color: #89e0c0;
    border-radius: 5px;
    width: 47.5vw;
    margin-left: auto;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.profile {
  @include xxs {
    font-size: 2.6rem;
    /* @extend .fsz3; */
    /* @extend .bg--green-L3; */
    /* @extend .txt--black; */
    background-color: #3bcf93;
    color: #100C08;
    text-align: center;
    padding: 0.3rem;
    position: relative;
    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;
    max-width: 3.8rem;
    max-height: 3.8rem;
    text-align: center;
    width: 20%;
    margin-right: 1rem;
  }

  @include m {
    font-size: 2.8rem;
    /* @extend .fsz3; */
    /* @extend .bg--green-L3; */
    /* @extend .txt--black; */
    background-color: #3bcf93;
    color: #100C08;
    text-align: center;
    padding: 0.3rem;
    position: relative;
    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;
    max-width: 3.8rem;
    max-height: 3.8rem;
    text-align: center;
    width: 20%;
    margin-right: 1rem;
  }
}

.account-info {
  display: flex;
  justify-content: space-evenly;

  width: 80%;
  li {
    @extend .txt--black;
    @include xxs {
      list-style: none;
      font-size: clamp(0.9rem, 1.4vw, 1.2rem);
    }
    @include s {
      font-size: clamp(1rem, 1.9vw, 1.2rem);
      list-style: none;
      cursor: pointer;
        &:hover {
          color: #666;
      }
    }
  }
}

#logout {
  @include xxs {
    margin-left: none;
  }

  @include l {
    margin-left: 6rem;
  }
}

/* end of navigation */

/* chat container */
.chat-room-container {
  @extend %scroll-bar;
  @extend .my2;
  @extend .pb1;
  height: 76vh;
  border: none;
  max-height: 700px;
  display: flex;
  gap: 4rem;
  overflow-x: auto;
  flex: none;
  width: 100%;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


%chat-room-size {
  height: 100%;
  flex: none;
  scroll-snap-align: center;
  width: 100%;
  max-width: 450px;
}

%w-100 {
  width: 100%;
}

.chat-room {
  @extend %chat-room-size;
  @extend .pb1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
  h2 {
    @extend .bg--green-L3;
    @extend %w-100;
    @extend .p1;
    @extend .br2;
    @extend .fw3;
    @extend .txt--black;
    text-align: center;
    align-self: center; 

  }
  .chat-box {
    @extend .bg--green-L10;
    @extend %w-100;
    @extend .p1;
    @extend .br2;
    height: 90%;
    position: relative;
  }
}

.chat-room-filler {
  @include xxs {
    display: none;
  }

  @include l {
    display: flex;
  }
  @extend %chat-room-size;
  background: none;
}
.messages-container {
  height: 90%;
  border: 1px solid black;
}

.messages-form {
  width: 100%;
  height: 10%;
  scroll-behavior: smooth;
  ul {
    width: 100%;
  }
}  


/* end of chat container */
.channel-info-container {
  @extend .bg--green-L10;
  @extend .br2;
  @extend .p2;
  height: 10vh;

  @include xxs {
    width: 100%;
  }

  @include m {
    width: 47.5vw;
  }
}

.channel-info-container-expanded {
  background-color: #3bcf93;
  position: absolute;
  height: 40vh;
  bottom: -11vh;
}

/* channel info */
.channel-info {
  @extend .px2;
  @extend %scroll-bar;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  flex: none;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    @extend .bg--green-L3;
  }
  &::-webkit-scrollbar-thumb:hover {
    @extend .bg--green-L5;
  }
}

.channel-info-expanded {
  height: 20%;
  &::-webkit-scrollbar-thumb {
    @extend .bg--green-L10;
  }
  &::-webkit-scrollbar-thumb:hover {
    @extend .bg--green-L8;
  }
}

.channel-type {
  @extend .txt--black;
  @extend .fw4;
  width: 100%;
  text-align: center;
  scroll-snap-align: center;
  letter-spacing: 0.2rem;
  flex: none;
  cursor: pointer;
  &::first-letter {
    text-transform: uppercase;
  }
  &:hover {
    color: #666;
  }
}

.channel-name-container {
  @extend .mt2;
  @extend %scroll-bar;
  @extend %scroll-bar;
  height: 70%;
  overflow-y: auto;
  flex: none;
  width: 100%;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  width: 100%;

  &::-webkit-scrollbar-thumb {
    @extend .bg--green-L10;
  }
  &::-webkit-scrollbar-thumb:hover {
    @extend .bg--green-L8;
  }
}

.channel-name {
  width: 100%;
  @extend .my1;
  a {
    @extend .txt--black;
    @extend .fw3;
    list-style: none;
    font-size: 1.4rem;
    width: 100%;
    display: block;
  }
  &:hover {
    @extend .bg--green-L10;
  }
}

%channel-expanded-buttons {
  position: absolute;
  left: 90%;
  cursor: pointer;
}
.add-channel {
  @extend %channel-expanded-buttons;
  @extend .txt--white;
  @extend .fsz4;
  bottom: 0%;
}

.close-channel-expand {
  @extend %channel-expanded-buttons;
  @extend .fsz2;
  @extend .txt--white;
  top: 5%;
}

.add {
  @extend .bg--green-L3;
  @extend .p2;
  @extend .row;
  @extend .br2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}


.add-channel-label {
  @extend .txt--white;
  font-size: 1.6rem;
}
.add-user-label {
  @extend .add-channel-label;
}

.input-add-channel-container {
  @extend .xxs_-col10;
  @extend .mb1;
}

.input-add-user-container {
  @extend .input-add-channel-container;
}

.input-channel {
  @extend .p1;
  @extend .mt2;
  @extend .br2;
  font-size: 1.4rem;
  border: none;
  outline: none;
  width: 100%;
}

.input-user {
  @extend .input-channel;
}

.submit-add {
  @extend .xxs_-col10;
  @extend .mb2;
  @extend .btn--sld-green-L10;
  @extend .my2;
  @extend .py1;
  @extend .px2;
  font-size: 1.2rem;
}

.cancel-add {
  @extend .xxs_-col10;
  @extend .btn--sld-red-L5;
  @extend .my2;
  @extend .py1;
  @extend .px2;
  font-size: 1.2rem;
}

.adding-backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 112vh;
  background-color: #ffffffaa;
  z-index: 0;;
}
/* end of channel info */


