@use "../base/variables" as *;
@use "sass:math" as *;
@use "sass:color" as *;
@use "../placeholder";
@use "../layout/display" as *;

@mixin btn($bg-color: $white, $txt-color: $white) {
  @extend %dib;
  @extend %fsz2;
  @extend %br2;
  @extend %px4;
  @extend %py2;
  font-weight: 300;
  border: none;
  cursor: pointer;
  background-color: $bg-color;
  transition: 
    background-color 150ms linear,
    color 200ms linear,
    box-shadow 100ms linear;
};

@mixin btn--sld($value, $color) {
    @include btn($value, $color);
    @if $value == $white {
      color: $black;
      background-color: $white;
    } @else {
      color: $white;
    }

    &:hover {
      background-color: mix($black, $value, $colorDarkness);
    }

    &:active {
      background-color: mix($white, $value, $colorLightness * 3);
    }

    @if $value != $white {
      &:focus {
        box-shadow: 0 0 0 0.2rem mix($white, $value, $colorLightness * 9);
      }
    } @else {
      &:focus {
        box-shadow: 0 0 0 0.2rem mix($black, $value, $colorDarkness);
      }
    }
}

@mixin btn--outL($value, $color) {
    @include btn($color);
    @if $value == $white {
      border: $base-border-thickness solid mix($black, $value, $colorDarkness);

      &:hover {
        background-color: mix($black, $value, $colorDarkness);
      }

      &:active {
        background-color: mix($white, $value, $colorLightness);
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem mix($black, $value, $colorDarkness);
      }

    } @else {
      color: $value;
      border: $base-border-thickness solid $value;
      &:hover {
        background-color: $value;
        color: $white;
      }
      &:active {
        background-color: mix($white, $value, $colorLightness * 3);
        color: $white;
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem mix($white, $value, $colorLightness * 9);
      }
    }
}

@each $key, $value in $colors {
  .btn--sld-#{$key} {
    @include btn--sld($value, $white); 

    @if $value != $white {
      @for $i from 1 through 10 {
        &-L#{$i} {
          @include btn--sld(mix($white, $value, $i * $colorLightness), $white);
        }
      }
    }

    @if $value != $black {
      @for $i from 1 through 10 {
        &-D#{$i} {
          @include btn--sld(mix($black, $value, $i * $colorDarkness), $white);
        }
      }
    }
  }

  .btn--outL-#{$key} {
    @include btn--outL($value, $white);

    @if $value != $white {
      @for $i from 1 through 10 {
        &-L#{$i} {
          @include btn--outL(mix($white, $value, $i * $colorDarkness), $white);
        }
      }
    }

    @if $value != $black {
      @for $i from 1 through 10 {
        &-D#{$i} {
          @include btn--outL(mix($black, $value, $i * $colorDarkness), $white);
        }
      }
    }

  }
}

.btn--sld {
  @extend .btn--sld-white;
}

.btn--outL {
  @extend .btn--outL-white;
}

.btn {
  @extend .btn--outL-white;
}
