@use "../base/variables" as *;
@use "../placeholder";
@use "../layout/display" as *;

.card {
  @extend %db;
  @extend %p4;
  border: $base-border-thickness $base-border-style $base-border-color;
  box-shadow: $base-box-shadow;
  /* margin: $base-margin * 2; */
  border-radius: $base-border-radius;

  &-title {
    @extend %fsz3;
    margin-bottom: $base-margin * 2;
  }
  &-body {
    @extend %fsz2;
  }
}
