@import "~@reiend/quirk";

.app-container {
  overflow-y: hidden;
  max-width: 1600px;
  max-height: 800px;
  height: 100vh;
  margin: 0 auto;

}


.router-container {
  height: 100%;
}

.user-account {
  font-size: clamp(2rem, 1rem + 2vw, 4rem);
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  @extend .txt--green-L3;
  text-align: center;
}

@keyframes spin-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 20px solid #89e0c0;
  border-top: 20px solid #3bcf93,;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: 500ms linear infinite spin-loading;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

